h1{
    position: relative;
    text-align: center;
    margin-bottom: 45px;
    color: #fff;
}
form{
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    width: 38%;
    margin: 0 auto;
    background: linear-gradient(to top right, #718093 -60%, #2c3e50 90%);
    gap: 1.5em;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.5),
                -1px -1px 1px rgba(0,0,0,.5),
                1px 1px 1px rgba(0,0,0,.5),
                -1px -1px 1px rgba(0,0,0,.5),
        inset   1px 1px 1px rgba(200,200,200,.5),
        inset   1px 1px 1px rgba(200,200,200,.5),
        inset   -1px -1px 1px rgba(200,200,200,.5),
        inset   -1px -1px 1px rgba(200,200,200,.5),
                3px 3px 10px rgba(0,0,0,.5),
                3px 3px 10px rgba(200,200,200,.1),
                6px 6px 10px rgba(0,0,0,.5);
}
form > div{
    flex: 1 0 100%;
    max-width: 300px;
    margin: 0 auto;
}
.wrap_input > label{
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
}
.wrap_input > input{
    width: 100%;
    padding: 5px 15px;
    border: 1px inset #2980b9;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.3);
    box-sizing: border-box;
}
.wrap_input > input[type="text"]:focus{
    outline: 2px solid #2980b9;
    outline-offset: -5px;
}
.wrap_input input[type="submit"]{
    background: #2980b9;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
}
.wrap_input input[type="submit"]:hover{
    background: rgba(52, 152, 219,.6);
}
h1 > span.msg{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
}
h1 > span.msg-error{
    color: #fff;
    background: rgba(231, 76, 60,.8);
    border: 1px solid #c0392b;
}
h1 > span.msg-success{
    color: #fff;
    background: rgba(39, 174, 96,.8);
    padding: 5px 10px;
    border: 1px solid #27ae60;
    border-radius: 5px;
}
/* page des résultats */
body{
    min-height: 100vh;
    background: linear-gradient(to bottom right, #e67e22 -15%, #8e44ad 115%);
}
.container{
    min-width: 300px;
    width: 80%;
    border: 1px solid #fff;
    border-radius: 15px;
    margin: 50px auto;
}
.row{
    margin: 1em;
    padding: 1em;
    background: rgba(0,0,0,.4);
    border: 1px solid #000;
    box-shadow: 1px 0px 0px rgba(0,0,0,.2),
                   1px 0px 0px rgba(0,0,0,.2),
                   1px 1px 0px rgba(0,0,0,.2),
                   1px 1px 2px rgba(255,255,255,.05),
                   1px 1px 2px rgba(255,255,255,.05),
                   1px 1px 2px rgba(255,255,255,.05),
                   8px 8px 5px rgba(0,0,0,.5),
                   8px 8px 5px rgba(0,0,0,.1);
    border-radius: 15px;
}
.row > .card{
    min-height: calc(200px - 2em);
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 15px;
    padding: 1em;
    background: linear-gradient(to bottom right, rgba(255,255,255,.02), rgba(255,255,225,.05) 50%, rgba(255,255,255,0.01 ));
    box-shadow: 1px 1px 0px rgba(0,0,0,.5),
                -1px -1px 0px rgba(255,255,255,.5),
           inset -1px -1px 0 rgba(0,0,0,.2),
           inset 1px 1px 0 rgba(170,170,170,.05);
    box-sizing: border-box;
}
.card > *{
    margin: 0;
}
.card p.img{
    position: relative;
    width: 235px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    background-image: url('../image/sprite.png');
    background-size: 70%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.card p.img.img-1{
    background-position: center -2px;
}
.card p.img.img-2{
    background-position: center -32px;
}
.card p.img-3{
    background-position: center -62px;
}
.card p.img-4{
    background-position: center -91px;
}
.card p.img-5{
    background-position: center -120px;
}
.card .genre{
    color: #ccc;
    font-style: italic;
    font-size: 14px;
}
@media screen and (min-width: 768px){
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .card{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 100%;
    }
    .card p.img{
        margin-left: 0;
    }
    .card .genre{
        margin-left: auto;
    }

}
@media screen and (min-width: 980px){
    .container{
        width: 80%;
    }
}
@media screen and (min-width: 1220px){
    .container{
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1640px){
    .container{
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}